<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% include 'top-bar' %}
  {% include 'header' %}
  <div class="main">
    {% include 'hero-banner' %}
    {% comment %} {% include 'featured-products.liquid' %} {% endcomment %}
  </div>
  

  {% include 'footer' %}
  <script src="/main.js"></script>
</body>
</html>