.topbar {
  background-color: #7b2ff7;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 3px 0;
  .topbar__slider {
    display: flex;
    padding-left: 100%;
    animation: scroll-left 15s linear infinite;
    align-items: center;
    justify-content: center;
  }

  .topbar__text {
    align-items: center;
    display: inline-block;
    margin-right: 1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: auto;
    span.tobpar-icon {
      position: relative;
      top: 2px;
      margin: 0 10px;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
