@use './components/header/header.scss';
@use './components/footer/footer.scss';
@use './components/top-bar/topbar';
@use './components/hero-banner/heroBanner';
@use './components/shuffle-essentials/shuffle-essentials';

body {
  font-family: "Roboto", sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  margin: 0;
  padding: 0;
}
.main {
  max-width: 1440px;
}
.featured-products{
  
  padding-left: 40px;
  padding-right: 40px;
  .product-list{
    background: white;
  }
}